.account-page-container {
  display: flex;
  flex-direction: column;
}

.account-page-container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-page-container p {
  text-align: left;
}
