/* Base styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #616161;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  column-gap: 32;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}

.nav-link:hover {
  opacity: 0.8;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    gap: 0.5rem;
    /* width: 100%; */
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }
}

.privacy-page-container {
  display: flex;
  flex-direction: column;
}

.privacy-page-container-section {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-photo-container {
  display: inline-flex;
}

.profile-photo-container a {
  display: inline-flex;
}

.profile-photo-container img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.go-back-link {
  display: flex;
  align-items: center;
}

.more-options-trigger {
  margin-right: 16px;
  display: inline-flex;
}

.more-options-trigger img {
  width: 24px;
  height: 24px;
}

.more-options-trigger :hover {
  transition: all 200ms;
  cursor: pointer;
}

.more-options-container {
  position: relative;
  display: inline-flex;
}

.more-options-list-container {
  display: flex;
  flex-direction: column;
  transition: all 200ms;
  position: absolute;
  top: 32px;
  right: 8px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
  background-color: #c4e3cb;
  border-radius: 8px;
}

.more-options-list-container.closed {
  pointer-events: none;
  opacity: 0;
}

.more-options-list-container.open {
  pointer-events: initial;
  opacity: 1;
}

.right-col {
  display: flex;
  align-items: center;
}

.menu-links {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.menu-link-item {
  width: max-content;
  margin: 12px 0;
}

.menu-link-item :hover {
  transition: background-color 600ms;
  background-color: #8aae92;
}

.menu-link-item a {
  font-weight: 600;
  color: #616161;
  padding: 8px 40px;
  margin: 8px 0;
}
