.leaderboard-nav-container {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.leaderboard-cta {
  font-weight: 600;
  cursor: pointer;
  transition: 400ms;
}

.leaderboard-cta:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.high-scores {
  border-bottom: 1px solid green;
}
