.first-color {
  color: #f4f9f4;
}

.second-color {
  color: #c4e3cb;
}

.third-color {
  color: #8aae92;
}

.fourth-color {
  color: #616161;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #8aae92;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  background: #c4e3cb;
  color: #616161;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.7em;
  }
}

.dog-img-container {
  margin: 32px 0;
}

@media (max-width: 600px) {
  .dog-img-container {
    margin: 8px 0;
  }
}

/* Container for the doggy options */
.doggy-options-container {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  gap: 16px; /* Adds spacing between the cards */
}

/* Media query for small screens (below 600px) */
@media (max-width: 600px) {
  .doggy-options-container {
    grid-template-columns: 1fr; /* Stacks the cards vertically */
    padding-bottom: 8px;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
}

@media (max-width: 600px) {
  .app-container {
    max-width: 320px;
  }
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.metrics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16 auto;
  opacity: 0.8;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(100, 108, 255, 0.3);
  padding: 32px 8px;
}

@media (max-width: 600px) {
  .metrics-container {
    height: 100%;
    margin: 24px 0;
  }
}

.github-link-container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 600px) {
  .play-again-container {
    width: 100%;
  }

  .play-again-container button {
    width: 100%;
  }
}

/* Add this to your global CSS file */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
