button {
  color: #f4f9f4;
  background-color: #8aae92;
  border-color: transparent;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition:
    transform 500ms,
    box-shadow 0.25s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Apply hover on desktop only */
@media (min-width: 768px) {
  button:hover {
    transform: scale(1.08);
    box-shadow:
      0 8px 16px rgba(0, 0, 0, 0.2),
      0 4px 8px rgba(100, 108, 255, 0.3);
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
